{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        SQLite
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Сайт сделан с использованием языка программирования Python и его библиотеками (Django и тд.); Реляционных баз данных (SQLite).
      Django шаблоны написаны на HTML вместе с Bootstrap.<br><br><a href="https://github.com/Grindelwaldoff/hw02_community">Ссылка на Git проекта</a>
    </p>
  </article>
</div>
{% endblock %} 